source https://api.nuget.org/v3/index.json
framework >= net452
strategy: max
redirects: on

nuget Autofac ~> 4
nuget Discord.Net.Commands ~> 0
nuget FeatureSwitcher ~> 1
nuget FluentValidation ~> 6
nuget Microsoft.ApplicationInsights ~> 2
nuget Microsoft.Azure.WebJobs ~> 1
nuget Microsoft.Net.Http ~> 2
nuget Microsoft.Web.WebJobs.Publish ~> 1
nuget refit ~> 2
nuget System.Reactive ~> 3