<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BotToken" value=""/>

  <!-- Features -->
  <add key="feature.mogBotEnabled" value="true" />
  <add key="feature.enableFoaas" value="true" />
  <add key="feature.enableGoon" value="true" />
  <add key="feature.generalIsAdult" value="false" />
</appSettings>